Importando as bibliotecas

In [286]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

Variáveis

In [287]:
dict_values = {"dir": fr"C:\Users\letic\OneDrive\Documentos\Projeto Final - BI Master - 2\Arquivos Excel",

    'arq_tarifas': 'Tarifas Realizadas.xlsx',
    
    'modal': 'A', # M - maritimo / A - aereo

    #'arq_extrato': 'Extrato Rateio Marítimo - 12.2022.xlsx',
    #'arq_compl': 'Dados complementares viagem - Maritimo - 12.2022.xlsx',
    'arq_extrato': 'Extrato Rateio Aéreo - 10.2022.xlsx',
    'arq_compl': 'Dados complementares voo - Aereo - 10.2022.xlsx',

}

Lendo os arquivos Excel

In [288]:
# 1. Leitura Extrato
df_extrato = pd.read_excel(f'{dict_values["dir"]}\{dict_values["arq_extrato"]}')
df_extrato.head()

,Aeroporto Base,Código do Serviço,Modal Transporte,Período referência,Número do voo,ID Solicitação
0,SBVT,SBVT_Carga,Aéreo,102022,49168974,97102926-1-1
1,SBVT,SBVT_Carga,Aéreo,102022,49169825,97120944-23-1
2,SBVT,SBVT_Carga,Aéreo,102022,49169825,97120944-24-1
3,SBVT,SBVT_Carga,Aéreo,102022,49169825,97122936-1-1
4,SBVT,SBVT_Carga,Aéreo,102022,49169863,97096145-1-1

In [289]:
# 2. Leitura Complemento
df_compl = pd.read_excel(f'{dict_values["dir"]}\{dict_values["arq_compl"]}')
df_compl.head()

,ID Solicitação,Motivo da viagem,Status Solicitação,Prefixo da Aeronave,Origem,Destino,Distância,Peso da Carga,Data do voo,Tempo da viagem
0,97121250-1-1,Extra,Atendido,PR-ABC,P-04,SBME,175.81,NaN,2022-09-26,2.183333
1,97093492-19-1,Troca de Turma,Atendido,PT-DEF,P-07,SBME,172.53,NaN,2022-09-26,2.100000
2,97093492-20-1,Troca de Turma,Atendido,PT-DEF,SBME,P-07,172.53,NaN,2022-09-26,2.100000
3,97100508-2-1,Troca de Turma,Atendido,PT-DEF,SBME,P-07,172.53,NaN,2022-09-26,2.100000
4,97100508-3-1,Troca de Turma,Atendido,PT-DEF,SBME,P-07,172.53,NaN,2022-09-26,2.100000

Funções DW

In [290]:
def conect_dw():
    conn_string = 'postgresql://postgres:postgres@localhost/dw_logistica'
    db = create_engine(conn_string)
    conn = psycopg2.connect(conn_string)
    return conn, db

In [291]:
def close_dw(conn):
    conn.close()

In [292]:
def truncate_table_dw(tabela):
    conn = psycopg2.connect('postgresql://postgres:postgres@localhost/dw_logistica')
    cursor = conn.cursor()
    cursor.execute(f'TRUNCATE TABLE {tabela} RESTART IDENTITY CASCADE')
    conn.commit()

In [293]:
def escrever_tab_fato_dw(df, tabela):
    conn, db = conect_dw()
    df.to_sql(tabela, schema='public', con=db, if_exists='append', index=False)

In [294]:
def ler_tabela_dw(tabela):
    con = conect_dw()
    df = pd.read_sql(f'SELECT * FROM {tabela}', con[0])
    return df

Lendo Tabelas Dimensão

In [295]:
#dim_servico
dim_servico = ler_tabela_dw('dim_servico')
dim_servico.head()

C:\Users\letic\AppData\Local\Temp\ipykernel_5884\3090770461.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {tabela}', con[0])

,sk_servico,nk_servico,descricao,modal,tipo
0,1,SBME_Carga,Transporte Aéreo de Cargas - Macaé,Aéreo,Carga
1,2,SBME_Pax,Transporte Aéreo de Passageiros - Macaé,Aéreo,Passageiro
2,3,SBRJ_Carga,Transporte Aéreo de Cargas - Rio de Janeiro,Aéreo,Carga
3,4,SBRJ_Pax,Transporte Aéreo de Passageiros - Rio de Janeiro,Aéreo,Passageiro
4,5,SBVT_Carga,Transporte Aéreo de Cargas - Vitória,Aéreo,Carga

In [296]:
#dim_local
dim_local = ler_tabela_dw('dim_local')
dim_local.head()

C:\Users\letic\AppData\Local\Temp\ipykernel_5884\3090770461.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {tabela}', con[0])

   sk_local nk_local           descricao        tipo   latitude  longitude
0         1       NA                  NA          NA   0.000000   0.000000
1         2     P-01  Plataforma XPTO 01  Plataforma -20.023476 -39.313240
2         3     P-02  Plataforma XPTO 02  Plataforma -19.335196 -39.151420
3         4     P-03  Plataforma XPTO 03  Plataforma -22.571217 -40.433197
4         5     P-04  Plataforma XPTO 04  Plataforma -21.123085 -39.443380

In [297]:
#dim_equipamento
dim_equipamento = ler_tabela_dw('dim_equipamento')
dim_equipamento.head()

C:\Users\letic\AppData\Local\Temp\ipykernel_5884\3090770461.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {tabela}', con[0])

   sk_equipamento    nk_nome    modelo    porte        tipo
0               1    Titanic  PSV 3000   Grande  Embarcação
1               2    Olympic  PSV 3000   Grande  Embarcação
2               3  Britannic  PSV 1500    Médio  Embarcação
3               4  Spartakus   UT 4000    Médio  Embarcação
4               5    Antares   LH 2500  Pequeno  Embarcação

In [298]:
#dim_data
dim_data = ler_tabela_dw('dim_data')
dim_data['nk_data'] = pd.to_datetime(dim_data['nk_data'])
dim_data.head()

C:\Users\letic\AppData\Local\Temp\ipykernel_5884\3090770461.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {tabela}', con[0])

   sk_data    nk_data  dia  mes_calendario  ano_calendario
0        1 2022-01-01    1               1            2022
1        2 2022-01-02    2               1            2022
2        3 2022-01-03    3               1            2022
3        4 2022-01-04    4               1            2022
4        5 2022-01-05    5               1            2022

fato_viagem

In [299]:
fato_viagem = pd.merge(df_extrato, df_compl, on='ID Solicitação', how='left')

In [300]:
fato_viagem['mes_referencia'] = fato_viagem['Período referência'].apply(lambda x: int(str(x)[:len(str(x))-4]))
fato_viagem['ano_referencia'] = fato_viagem['Período referência'].apply(lambda x: int(str(x)[-4:]))

In [301]:
if dict_values["modal"] == 'M':    
    fato_viagem.insert(len(fato_viagem.columns), 'sk_base', 1)
    fato_viagem.insert(len(fato_viagem.columns), 'tempo_viagem', 0)
    fato_viagem.insert(len(fato_viagem.columns), 'motivo_viagem', 'NA')

elif dict_values["modal"] == 'A':
    fato_viagem.insert(len(fato_viagem.columns), 'tipo_carga', 'NA')

else:
    pass

In [302]:
fato_viagem.head()

,Aeroporto Base,Código do Serviço,Modal Transporte,Período referência,Número do voo,ID Solicitação,Motivo da viagem,Status Solicitação,Prefixo da Aeronave,Origem,Destino,Distância,Peso da Carga,Data do voo,Tempo da viagem,mes_referencia,ano_referencia,tipo_carga
0,SBVT,SBVT_Carga,Aéreo,102022,49168974,97102926-1-1,NaN,Suspenso,PR-XYZ,SBVT,P-01,83.03,14.0,2022-09-26,1.216667,10,2022,NA
1,SBVT,SBVT_Carga,Aéreo,102022,49169825,97120944-23-1,NaN,Atendido,PR-LMN,SBVT,P-01,83.03,1.0,2022-09-27,1.066667,10,2022,NA
2,SBVT,SBVT_Carga,Aéreo,102022,49169825,97120944-24-1,NaN,Atendido,PR-LMN,SBVT,P-01,83.03,1.5,2022-09-27,1.066667,10,2022,NA
3,SBVT,SBVT_Carga,Aéreo,102022,49169825,97122936-1-1,NaN,Atendido,PR-LMN,P-01,SBVT,83.03,12.0,2022-09-27,1.066667,10,2022,NA
4,SBVT,SBVT_Carga,Aéreo,102022,49169863,97096145-1-1,NaN,Suspenso,PR-ABC,P-09,SBVT,86.37,0.3,2022-09-27,1.183333,10,2022,NA

In [303]:
if dict_values["modal"] == 'M': 
    fato_viagem = fato_viagem.rename({
            'Número da viagem': 'num_viagem',
            'Plataforma Cliente': 'plataforma_cliente',
            'ID Solicitação': 'id_solicitacao',
            'Código do Serviço': 'nk_servico',
            'Peso da Carga (kg)': 'peso_carga',
            'Origem': 'origem',
            'Destino': 'destino',
            'Distância': 'distancia',
            'Status Solicitação': 'status_solicitacao',
            'Tipo de Carga': 'tipo_carga',
            'Embarcação': 'nk_nome', 
            'Data de Entrega': 'nk_data'
        }, axis=1
    )

elif dict_values["modal"] == 'A':
    fato_viagem = fato_viagem.rename({
            'Aeroporto Base': 'nk_base',
            'Plataforma Cliente': 'plataforma_cliente',
            'Código do Serviço': 'nk_servico',
            'Número do voo': 'num_viagem',
            'ID Solicitação': 'id_solicitacao',
            'Motivo da viagem': 'motivo_viagem',
            'Status Solicitação': 'status_solicitacao',
            'Prefixo da Aeronave': 'nk_nome', 
            'Origem': 'origem',
            'Destino': 'destino',
            'Distância': 'distancia',
            'Peso da Carga': 'peso_carga',
            'Data do voo': 'nk_data',
            'Tempo da viagem': 'tempo_viagem'       
        }, axis=1
    )

else:
    pass

In [304]:
if dict_values["modal"] == 'M':
    fato_viagem['quantidade'] = fato_viagem['distancia'] * fato_viagem['peso_carga'] / 1000

elif dict_values["modal"] == 'A':
    fato_viagem['quantidade'] = fato_viagem['distancia'] * fato_viagem['peso_carga'] / 100
    fato_viagem['quantidade'] = fato_viagem['quantidade'].fillna(fato_viagem['distancia'])

else:
    pass

In [305]:
fato_viagem['nk_data'] = pd.to_datetime(fato_viagem['nk_data'])

In [306]:
fato_viagem = pd.merge(fato_viagem, dim_data, on='nk_data', how='left')

In [307]:
fato_viagem = fato_viagem.rename({'sk_data': 'sk_data_viagem'}, axis=1)

In [308]:
fato_viagem = pd.merge(fato_viagem, dim_servico, on='nk_servico', how='left')

In [309]:
fato_viagem = pd.merge(fato_viagem, dim_equipamento, on='nk_nome', how='left')

In [310]:
fato_viagem.head()

,nk_base,nk_servico,Modal Transporte,Período referência,num_viagem,id_solicitacao,motivo_viagem,status_solicitacao,nk_nome,origem,...,mes_calendario,ano_calendario,sk_servico,descricao,modal,tipo_x,sk_equipamento,modelo,porte,tipo_y
0,SBVT,SBVT_Carga,Aéreo,102022,49168974,97102926-1-1,NaN,Suspenso,PR-XYZ,SBVT,...,9,2022,5,Transporte Aéreo de Cargas - Vitória,Aéreo,Carga,9,S92,Médio,Helicóptero
1,SBVT,SBVT_Carga,Aéreo,102022,49169825,97120944-23-1,NaN,Atendido,PR-LMN,SBVT,...,9,2022,5,Transporte Aéreo de Cargas - Vitória,Aéreo,Carga,11,S92,Médio,Helicóptero
2,SBVT,SBVT_Carga,Aéreo,102022,49169825,97120944-24-1,NaN,Atendido,PR-LMN,SBVT,...,9,2022,5,Transporte Aéreo de Cargas - Vitória,Aéreo,Carga,11,S92,Médio,Helicóptero
3,SBVT,SBVT_Carga,Aéreo,102022,49169825,97122936-1-1,NaN,Atendido,PR-LMN,P-01,...,9,2022,5,Transporte Aéreo de Cargas - Vitória,Aéreo,Carga,11,S92,Médio,Helicóptero
4,SBVT,SBVT_Carga,Aéreo,102022,49169863,97096145-1-1,NaN,Suspenso,PR-ABC,P-09,...,9,2022,5,Transporte Aéreo de Cargas - Vitória,Aéreo,Carga,7,S92,Médio,Helicóptero

In [311]:
if dict_values["modal"] == 'M':
    fato_viagem = fato_viagem.drop(columns=[
        'Período referência', 'nk_servico', 'nk_nome', 'nk_data', 'dia', 'mes_calendario', 'ano_calendario', 
        'descricao', 'modal', 'tipo_x', 'modelo', 'porte', 'tipo_y'
        ]
    )
elif dict_values["modal"] == 'A':
    fato_viagem = fato_viagem.drop(columns=[
        'Modal Transporte', 'Período referência', 'nk_servico', 'nk_nome', 'nk_data', 'dia', 'mes_calendario', 
        'ano_calendario', 'descricao', 'modal', 'tipo_x', 'modelo', 'porte', 'tipo_y'
        ]
    )

In [312]:
fato_viagem.head()

,nk_base,num_viagem,id_solicitacao,motivo_viagem,status_solicitacao,origem,destino,distancia,peso_carga,tempo_viagem,mes_referencia,ano_referencia,tipo_carga,quantidade,sk_data_viagem,sk_servico,sk_equipamento
0,SBVT,49168974,97102926-1-1,NaN,Suspenso,SBVT,P-01,83.03,14.0,1.216667,10,2022,NA,1.162420,269,5,9
1,SBVT,49169825,97120944-23-1,NaN,Atendido,SBVT,P-01,83.03,1.0,1.066667,10,2022,NA,0.083030,270,5,11
2,SBVT,49169825,97120944-24-1,NaN,Atendido,SBVT,P-01,83.03,1.5,1.066667,10,2022,NA,0.124545,270,5,11
3,SBVT,49169825,97122936-1-1,NaN,Atendido,P-01,SBVT,83.03,12.0,1.066667,10,2022,NA,0.996360,270,5,11
4,SBVT,49169863,97096145-1-1,NaN,Suspenso,P-09,SBVT,86.37,0.3,1.183333,10,2022,NA,0.025911,270,5,7

In [313]:
def get_plataforma_cliente(d, aeroportos):
    if d['destino'] not in aeroportos:
        return d['destino']
    else:
        return d['origem']

In [314]:
if dict_values["modal"] == 'A':
   
    aeroportos = dim_local.loc[dim_local['tipo'] == 'Aeroporto']['nk_local'].to_list()
    fato_viagem['plataforma_cliente'] = fato_viagem.apply(get_plataforma_cliente, args=(aeroportos,), axis=1)

In [315]:
fato_viagem = pd.merge(fato_viagem, dim_local, left_on='plataforma_cliente', right_on='nk_local', how='left')

fato_viagem = fato_viagem.drop(columns=[
    'plataforma_cliente', 'nk_local', 'descricao', 'tipo', 'latitude', 'longitude'
    ]
)

fato_viagem = fato_viagem.rename({'sk_local': 'plataforma_cliente'}, axis=1)

In [316]:
fato_viagem = pd.merge(fato_viagem, dim_local, left_on='origem', right_on='nk_local', how='left')

fato_viagem = fato_viagem.drop(
    columns=[
        'origem', 'nk_local', 'descricao', 'tipo', 'latitude', 'longitude'
    ]
)

fato_viagem = fato_viagem.rename({'sk_local': 'origem'}, axis=1)

In [317]:
fato_viagem = pd.merge(fato_viagem, dim_local, left_on='destino', right_on='nk_local', how='left')

fato_viagem = fato_viagem.drop(
    columns=[
        'destino', 'nk_local', 'descricao', 'tipo', 'latitude', 'longitude'
    ]
)

fato_viagem = fato_viagem.rename({'sk_local': 'destino'}, axis=1)

In [318]:
if dict_values["modal"] == 'A':
    fato_viagem = pd.merge(fato_viagem, dim_local, left_on='nk_base', right_on='nk_local', how='left')

    fato_viagem = fato_viagem.drop(
        columns=[
            'nk_base', 'nk_local', 'descricao', 'tipo', 'latitude', 'longitude'
        ]
    )

    fato_viagem = fato_viagem.rename({'sk_local': 'sk_base'}, axis=1)

In [319]:
fato_viagem.head()

,num_viagem,id_solicitacao,motivo_viagem,status_solicitacao,distancia,peso_carga,tempo_viagem,mes_referencia,ano_referencia,tipo_carga,quantidade,sk_data_viagem,sk_servico,sk_equipamento,plataforma_cliente,origem,destino,sk_base
0,49168974,97102926-1-1,NaN,Suspenso,83.03,14.0,1.216667,10,2022,NA,1.162420,269,5,9,2,16,2,16
1,49169825,97120944-23-1,NaN,Atendido,83.03,1.0,1.066667,10,2022,NA,0.083030,270,5,11,2,16,2,16
2,49169825,97120944-24-1,NaN,Atendido,83.03,1.5,1.066667,10,2022,NA,0.124545,270,5,11,2,16,2,16
3,49169825,97122936-1-1,NaN,Atendido,83.03,12.0,1.066667,10,2022,NA,0.996360,270,5,11,2,2,16,16
4,49169863,97096145-1-1,NaN,Suspenso,86.37,0.3,1.183333,10,2022,NA,0.025911,270,5,7,10,10,16,16

In [320]:
fato_viagem['servico_tarifa'] = fato_viagem['sk_servico'].astype(str) + '_' + fato_viagem['mes_referencia'].astype(str) + '_' + fato_viagem['ano_referencia'].astype(str)
fato_viagem.head()

,num_viagem,id_solicitacao,motivo_viagem,status_solicitacao,distancia,peso_carga,tempo_viagem,mes_referencia,ano_referencia,tipo_carga,quantidade,sk_data_viagem,sk_servico,sk_equipamento,plataforma_cliente,origem,destino,sk_base,servico_tarifa
0,49168974,97102926-1-1,NaN,Suspenso,83.03,14.0,1.216667,10,2022,NA,1.162420,269,5,9,2,16,2,16,5_10_2022
1,49169825,97120944-23-1,NaN,Atendido,83.03,1.0,1.066667,10,2022,NA,0.083030,270,5,11,2,16,2,16,5_10_2022
2,49169825,97120944-24-1,NaN,Atendido,83.03,1.5,1.066667,10,2022,NA,0.124545,270,5,11,2,16,2,16,5_10_2022
3,49169825,97122936-1-1,NaN,Atendido,83.03,12.0,1.066667,10,2022,NA,0.996360,270,5,11,2,2,16,16,5_10_2022
4,49169863,97096145-1-1,NaN,Suspenso,86.37,0.3,1.183333,10,2022,NA,0.025911,270,5,7,10,10,16,16,5_10_2022

In [321]:
# tarifas
df_tarifas = pd.read_excel(f'{dict_values["dir"]}\{dict_values["arq_tarifas"]}')
df_tarifas = pd.merge(df_tarifas, dim_servico, left_on='Código do Serviço', right_on='nk_servico', how='left')
df_tarifas['servico_tarifa'] = df_tarifas['sk_servico'].astype(str) + '_' + df_tarifas['Mês Referência'].astype(str) + '_' + df_tarifas['Ano Referência'].astype(str)
df_tarifas = df_tarifas.rename({'Tarifa em BRL': 'tarifa'}, axis=1) 
df_tarifas = df_tarifas[['servico_tarifa', 'tarifa']]
df_tarifas.head()

  servico_tarifa     tarifa
0       9_9_2022   8.802617
1      9_10_2022  10.481842
2      9_11_2022   8.228600
3      9_12_2022   9.693725
4       8_9_2022   4.699508

In [322]:
fato_viagem = pd.merge(fato_viagem, df_tarifas, how='left')

fato_viagem = fato_viagem.drop(
    columns=[
        'servico_tarifa'
    ]
)

fato_viagem.head()

,num_viagem,id_solicitacao,motivo_viagem,status_solicitacao,distancia,peso_carga,tempo_viagem,mes_referencia,ano_referencia,tipo_carga,quantidade,sk_data_viagem,sk_servico,sk_equipamento,plataforma_cliente,origem,destino,sk_base,tarifa
0,49168974,97102926-1-1,NaN,Suspenso,83.03,14.0,1.216667,10,2022,NA,1.162420,269,5,9,2,16,2,16,19.5
1,49169825,97120944-23-1,NaN,Atendido,83.03,1.0,1.066667,10,2022,NA,0.083030,270,5,11,2,16,2,16,19.5
2,49169825,97120944-24-1,NaN,Atendido,83.03,1.5,1.066667,10,2022,NA,0.124545,270,5,11,2,16,2,16,19.5
3,49169825,97122936-1-1,NaN,Atendido,83.03,12.0,1.066667,10,2022,NA,0.996360,270,5,11,2,2,16,16,19.5
4,49169863,97096145-1-1,NaN,Suspenso,86.37,0.3,1.183333,10,2022,NA,0.025911,270,5,7,10,10,16,16,19.5

Escrever no DW

In [323]:
escrever_tab_fato_dw(fato_viagem, 'fato_viagem')